html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1 0 auto;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    color: #222;
}

header,
.navbar {
    display: flex;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    flex-shrink: 0;
    z-index: 999;
}

.logo {
    margin-left: 5%;
}

#navbar {
    margin-right: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar>li {
    padding: 12px 0;
    margin: 0 25px;
}

.navbar>li:nth-child(1) {
    margin-left: 0;
}

.navbar>li:nth-child(5) {
    margin-right: 0;
}

.navbar li a {
    text-decoration: none;
    color: #222;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
    position: relative;
}

.navbar li a:hover,
.dropdown:hover>a {
    color: #338A94;
}

.active-navbar {
    color: #338A94 !important;
}

.dropdown:hover a .fas {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all 0.5s ease;
    transition: all 0.5 ease;
}

.fas {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: all 0.5s ease;
}

.dropdown-content {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #222;
    padding: 12px 0;
    display: none;
    width: 200px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 12px;
}

.dropdown-content li a {
    font-size: 15px;
}

.dropdown-content li:hover {
    background-color: #80b2b8;
}

.menu-bar {
    cursor: pointer;
    background-color: #222;
    padding: 3px;
    margin-right: 5%;
    display: none;
}

.bar {
    width: 16px;
    height: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.change {
    transition: 0.5s;
    background-color: #338A94;
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
}

.change .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
}

.bagian-1 {
    display: flex;
}

.paragraf {
    width: 100%;
}

.tabel::-webkit-scrollbar {
    display: none;
}

.tabel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

table,
th,
td {
    border-collapse: collapse;
    width: 20%;
}

th {
    background-color: #888;
    color: #222;
}

td {
    background-color: #ccc;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.foot {
    border: none;
}

.referensi {
    overflow-x: hidden;
}

.referensi>p,
.paragraf>p {
    text-align: justify;
    line-height: 1.5;
}

.penulis {
    font-size: 14px;
}

.sumber {
    margin-top: 0;
    text-align: center !important;
    text-indent: 0 !important;
    color: #555;
    font-size: 14px;
}

.artikel {
    margin-top: 5%;
    flex: 3;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artikel,
.destinasi {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-artikel {
    margin-top: 5%;
    flex: 1;
    padding: 50px;
}

.title {
    margin-top: 0;
    font-size: 21px;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: column;
}

.column {
    flex: 100%;
    max-width: 100%;
}

.column a {
    text-decoration: none;
    color: #222;
}

.content-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.content-body:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 10px 14px 0 rgba(0, 0, 0, 0.2);
}

.content-body img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.content-body p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.desa,
.destinasi,
.artikel-lain {
    margin-bottom: 20px;
}

.artikel-lain a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.artikel-lain a:hover {
    color: #338A94;
}

footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #338A94;
    color: #fff;
    margin-top: 75px;
}

.bottom-nav {
    font-size: 15px;
}

.bottom-nav-and-logo,
.copyright {
    margin: 20px 0;
}

.bottom-nav-and-logo,
.bottom-nav,
.list-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-logo a img,
.bottom-nav-member {
    flex: 1;
    margin: 0 15px;
}

.list-logo a:nth-child(1) img,
.bottom-nav-member:nth-child(1) {
    margin-left: 0;
}

.list-logo a:nth-child(4) img,
.bottom-nav-member:nth-child(4) {
    margin-right: 0;
}

.member,
.simple-text {
    margin-bottom: 15px;
    font-weight: 700;
}

.submember {
    margin-bottom: 10px
}

.submember a {
    color: #fff;
    text-decoration: none;
}

.submember a:hover {
    text-decoration: underline;
}

.bottom-nav,
.text-logo {
    width: 48%;
}

.bottom-nav-and-logo,
.copyright {
    margin-right: 5%;
    margin-left: 5%;
}

.copyright {
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 20px;
}

@media screen and (max-width:1146px) {
    .bottom-nav-and-logo {
        flex-direction: column;
    }
    .bottom-nav {
        width: 100%;
    }
    .text-logo {
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
    .simple-text {
        text-align: center;
    }
}

@media screen and (max-width:1010px) {
    .prev-btn {
        left: 18.75%;
    }
    .next-btn {
        right: 18.75%;
    }
    .prev-btn,
    .next-btn {
        font-size: 19px;
        padding: 15px;
    }
}

@media screen and (max-width:1030px) {
    .content {
        flex-direction: column;
    }
    .list-artikel div:nth-child(2) .row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list-artikel div:nth-child(1) .row .column,
    .list-artikel div:nth-child(2) .row .column {
        flex: 50%;
        max-width: 40%;
    }
    .list-artikel div:nth-child(1) .row .column a .content-body img,
    .list-artikel div:nth-child(2) .row .column a .content-body img {
        height: 25vw;
    }
    .artikel {
        margin-bottom: 100px;
    }
    .list-artikel {
        padding: 0px !important;
    }
    .img-container>img {
        width: 100%;
        max-width: 50vw;
        height: 31.25vw;
    }
}

@media screen and (max-width:921px) {
    .menu-bar {
        display: block;
    }
    nav {
        display: none;
        position: absolute;
        right: -5%;
        top: 75px;
        margin-right: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .navbar>li:nth-child(1) {
        margin-left: 25px;
    }
    .navbar>li:nth-child(5) {
        margin-right: 25px;
    }
    .show-navbar {
        display: block;
    }
    .show-navbar .navbar {
        flex-direction: column;
    }
    .dropdown-content {
        border: none;
        position: relative;
        top: 0;
        width: 100%;
        border-radius: 0;
        margin-top: 25px;
        background-color: #80b2b8;
        margin-left: -25px;
        margin-right: -25px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .dropdown-content li {
        padding-left: 0;
    }
    .dropdown-content li a {
        font-size: 17px;
    }
    .dropdown-content li:hover {
        background-color: transparent;
    }
}

@media screen and (max-width:800px) {
    .list-logo a img {
        height: 80px;
    }
    .prev-btn {
        left: 12.5%;
    }
    .next-btn {
        right: 12.5%;
    }
    .prev-btn,
    .next-btn {
        font-size: 18px;
        padding: 14px;
    }
}

@media screen and (max-width:725px) {
    .list-logo a img {
        height: 70px;
    }
}

@media screen and (max-width:655px) {
    .bottom-nav {
        flex-direction: column;
    }
    .bottom-nav-member {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .text-logo {
        width: 70%;
        margin-left: 15%;
    }
    .list-logo a img {
        height: 60px;
    }
}

@media screen and (max-width:639px) {
    h1 {
        font-size: 28px;
    }
    .artikel-lain a,
    table,
    p {
        font-size: 15px;
    }
    .navbar li a {
        font-size: 16px;
    }
    .dropdown-content li a,
    .bottom-nav {
        font-size: 14px;
    }
    h3 {
        font-size: 18.8px;
    }
    .content-body p {
        font-size: 14px;
    }
    .title {
        font-size: 19px !important
    }
    .sumber,
    .penulis {
        font-size: 13px;
    }
}

@media screen and(max-width:610px) {
    .prev-btn {
        left: 6.25%;
    }
    .next-btn {
        right: 6.25%;
    }
    .prev-btn,
    .next-btn {
        font-size: 17px;
        padding: 13px;
    }
}

@media screen and (max-width:590px) {
    .text-logo {
        width: 80%;
        margin-left: 10%;
    }
    .list-logo a img {
        height: 50px;
    }
}

@media screen and (max-width:550px) {
    .img-container>img {
        width: 100%;
        max-width: 100vw;
        height: calc(100vw*0.5);
    }
    .list-artikel div:nth-child(1) .row .column,
    .list-artikel div:nth-child(2) .row .column {
        flex: 100%;
        max-width: 100%;
    }
    .list-artikel div:nth-child(1) .row .column a .content-body img,
    .list-artikel div:nth-child(2) .row .column a .content-body img {
        height: 62.5vw;
    }
    .img-container>img {
        width: 100%;
    }
    .artikel {
        padding: 20px !important;
    }
}

@media screen and (max-width:420px) {
    .prev-btn {
        left: 0;
    }
    .next-btn {
        right: 0;
    }
    .prev-btn,
    .next-btn {
        font-size: 16px;
        padding: 12px;
    }
}

@media screen and (max-width:390px) {
    .text-logo {
        width: 55%;
        margin-left: 22.5%;
    }
    .list-logo {
        flex-wrap: wrap;
    }
    .list-logo a img {
        margin: 10px;
        height: 50px;
    }
    .list-logo a:nth-child(1) {
        margin-left: 10px;
    }
    .list-logo a:nth-child(4) {
        margin-right: 10px;
    }
}

@media screen and (max-width:319px) {
    h1 {
        font-size: 24px;
    }
    .artikel-lain a,
    table,
    p {
        font-size: 14px;
    }
    .navbar li a {
        font-size: 15px;
    }
    .dropdown-content li a,
    .bottom-nav {
        font-size: 13px;
    }
    h3 {
        font-size: 16.8px;
    }
    .content-body p {
        font-size: 13px;
    }
    .title {
        font-size: 17px !important;
    }
    .sumber,
    .penulis {
        font-size: 12px;
    }
}

@media screen and (max-width:279px) {
    h1 {
        font-size: 22px;
    }
    .artikel-lain a,
    table,
    p {
        font-size: 13px;
    }
    .navbar li a {
        font-size: 14px;
    }
    .dropdown-content li a,
    .bottom-nav {
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
    }
    .content-body p {
        font-size: 12px;
    }
    .title {
        font-size: 16px !important;
    }
    .sumber,
    .penulis {
        font-size: 11px;
    }
}

@media screen and (max-width:278px) {
    .text-logo {
        width: 100%;
        margin-left: 0%;
    }
    .list-logo {
        flex-direction: column;
        align-items: center;
    }
}